<div>
  <img src="Front Portfolio of Self 5-2021.jpg" alt="Portrait_05-2021" />
  <h1>Dylan Carder</h1>
  <h3>Full Stack Software Engineer</h3>
  <p>
    Hello and welcome to my porfolio. I hope the journey here was comfortable.
  </p>
</div>

<div>
  <img src="Self in front of KSU logo.jpeg" alt="Graduation" />
  <img src="Carson and I.jpeg" alt="Carson_and_I" />
  <h2>Education</h2>
  <p>
    I graduated Magna Cum Laude (<em>with great praise</em> in Latin, GPA 3.86)
    from
    <a href="https://www.kennesaw.edu" target="_blank"
      >Kennesaw State University</a
    >
    in December 2024 with a
    <a
      href="https://www.kennesaw.edu/degrees-programs/bachelor-degrees/software-engineering.php?major=Bachelor+of+Science+in+Software+Engineering+&url=https%3A%2F%2Fwww.kennesaw.edu%2Fdegrees-programs%2Fbachelor-degrees%2Fsoftware-engineering.php"
      target="_blank"
      >Bachelor of Science in Software Engineering</a
    >
    and a
    <a
      href="https://www.kennesaw.edu/degrees-programs/minors/computer-science.php?major=Minor+in+Computer+Science++&url=https%3A%2F%2Fwww.kennesaw.edu%2Fdegrees-programs%2Fminors%2Fcomputer-science.php"
      target="_blank"
      >minor in Computer Science</a
    >. I began my post-secondary education at
    <a href="https://www.chattahoocheetech.edu" target="_blank"
      >Chattahoochee Technical College</a
    >
    while I was still in High School through the Dual Enrollment program. When I
    graduated from high school in May of 2021, a year earlier than my class, I
    had already earned a fair few of my gen-ed college credits. In the Summer of
    2022, I transferred to Kennesaw State University.
  </p>
  <p>
    My favorite thing about attending Kennesaw State University was helping
    others when they needed assistance on a programming hurdle. Countless hours
    were spent in a Discord call with a classmate, working through a bug they
    just couldn't wrap their head around.
  </p>
</div>

<div>
  <img
    src="CDay Jeremiah, Carson, Zeshan, Russell, Dylan, Robert better.jpg"
    alt="Group_Photo"
  />
  <img src="CDay Setup.jpeg" alt="Our C-Day Booth" />
  <h2>Computing Showcase Day (C-Day) Fall 2024</h2>
  <p>
    C-Day is an event hosted by the College of Computing and Software
    Engineering on the Kennesaw State University campus semi-yearly where
    projects from many different computing disciplines are showcased. C-Day
    includes the sponsors of projects and the event, student-lead solo and team
    projects, and a nice place to network with other students and professionals
    in the field.
  </p>
  <p>
    My team was sponsored by Angels Among Us Pet Rescue to design and engineer a
    Volunteer Management Application (VMA) that we named Halo. This VMA was
    designed to assist with managing the increasing complexity of volunteer
    data. If you would like to learn more about
    <a href="https://halo-vma.com" target="_blank">Halo VMA</a>, please visit the Portfolio
    tab.
  </p>
</div>
